<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191874590013-cskuhtfpi1fblq2r3qcaubf7vkgr65qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191874590013-cskuhtfpi1fblq2r3qcaubf7vkgr65qi</string>
	<key>API_KEY</key>
	<string>AIzaSyCklLar4OYkvTsxNRFww4UFyoDd9P4PtJM</string>
	<key>GCM_SENDER_ID</key>
	<string>191874590013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clima01</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-9cb9b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-9cb9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191874590013:ios:c753d05435f1e1d6415154</string>
</dict>
</plist>